@font-face {
    font-family: 'AsapRegular';
    src: url('../fonts/Asap-Regular.ttf');
}
@font-face {
    font-family: 'AsapBold';
    src: url('../fonts/Asap-Bold.ttf');
}

@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter-Bold.ttf');
}

body{
    background-color: #ecebf3;
}

.sidebar{
    display: flex;
    justify-content: center;
    height: 120vh!important;
    background-color: #d4d3de;
    border-right: 1px solid #d1cdcd;
}

.sidebar .sidebar-box{
    margin-top: 25px!important;
}

.sidebar .sidebar-box .logos{
    font-family: 'AsapBold';
    font-style: normal;
    font-weight: 400;
    font-size: 50.4px;
    line-height: 58px;
    color: #664187;
}

.sidebar .sidebar-box .list-group-box {
    margin-top: 20px;
}

.sidebar .sidebar-box .list-group-box .list-group-item{
    background-color: transparent!important;
    border: 0!important;
}

.sidebar .sidebar-box .list-group-box button {
  background-color: #D4D3DE;
  border: 0!important;
  font-family: 'InterRegular';
  font-style: normal;
  font-weight: 800;
  font-size: 14.8855px;
  line-height: 18px;
  cursor: pointer;
  color: #202024;
  width: 260px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  border-radius: 15px;
}

.sidebar .sidebar-box .list-group-box button img{
  transition: background-color 0.4s ease;
}

.sidebar .sidebar-box .list-group-box button img:hover{
  background-color: #ffffff;
}


#eventos {
    background-image: url('../img/icone-calendario.png');
    
    
  }
  
  #eventos:hover{
    background-image: url('../img/icon-calendario-branco.svg')
  }
  #inicio {
    background-image: url('../img/icone-home.png');
    
  }
  #inicio:hover{
    background-image: url('../img/icon-home-branco.svg')
  }
 
  #descobrir {
    background-image: url('../img/icone-descobrir.png');
  }
  #descobrir:hover{
    background-image: url('../img/icon-pesquisar-branco.svg')
  }
  #notificacoes {
    background-image: url('../img/icone-notificacao.png'); 
  }
  #notificacoes:hover{
    background-image: url('../img/icon-notificacao-branco.svg')
  }
  #configuracoes {
    background-image: url('../img/icone-configuracoes.png');
  }
  #configuracoes:hover{
    background-image: url('../img/icon-configuracoes-branco.svg')
  }
  #amigos {
    background-image: url('../img/icone-pessoa.png');
  }
  #amigos:hover{
    background-image: url('../img/icon-pessoa-branco.svg')
  }

  #nova-pub{
    background-image: url('../img/icone-pincel.png');
  }
  

.list-group-box button:hover {
    background-color: #664187!important;
    color: #ffffff!important;
   
  }
  .list-group-box button img:hover {
    background-color: #664187!important;
    color: #ffffff!important;
    
   
  }
.nova-pub{
    margin-top: 15px;

}
.nova-pub .btn-nova-pub{
    width: 267px;
    height: 41.22px;
    background-color: #664187;
    box-shadow: 5.37636px 5.37636px 5.37636px rgba(0, 0, 0, 0.25);
    border-radius: 11.6113px;
    border: 0;
    font-weight: 600;
font-size: 13.9335px;
line-height: 18px;
font-family: 'InterRegular';
background-repeat: no-repeat;
background-position-y: center ;
background-position-x: 15px ;
border-radius: 15px;
}

.nova-pub #nova-pub:hover{
    background-color: #5e3086;
    color: #dbdbdb;
    
}


.custom-btn-item:hover{
    background-color: #664187!important;
}



.sugestao-seguidores h1{
  font-weight: 700;
font-size: 15.5498px;
line-height: 19px;
color: #37373A;
font-family: 'InterRegular';
}

.div-btn-seguir-sugestao .btn-seguir{
  background-color: #5e3086;
  width: 73.06px;
  height: 23px;
  border: none;
  color: #ffffff;
  border-radius: 13.5294px;
}

.sugestao-box{
  width: 280px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
}
.sugestao-box .seguir-nickname{
  display: flex;
  flex-direction: row;
}
.sugestao-box button {
  width: 70px;
  margin-left: 61px;
  height: 25px;
  background-color: #6f42c1;
  border: none;
  border-radius: 20px;
}